.App {
  text-align: center;  
  background-color: rgb(148, 224, 171);
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.content {
  flex-grow: 1;
}

.bg_black {
  background-color: black;
}
.text_white {
  color: white;
}
.impose {
  overflow: hidden;
}
.impose img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}
.impose:hover img {
  transform: scale(1.3);
}
.custom-link {
  color: white;
  text-decoration: none;
}
.custom-link:hover {
  color:rgb(247, 41, 13); 
  background-color: rgb(146, 31, 199);
}

.banner {
  background-color: rgb(82, 80, 204);
}
.pill {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: #1a2e44; 
  color: #ffbe82; 
  border-radius: 4px;
  font-size: 0.83rem;
  margin: 0 auto; 
}
.genres_font{
  color:#ff7c01;
}
.pill:hover{
  background-color: #0056b3;
  cursor: pointer;
}
.scrollable-row-container {
    overflow-x:scroll;
    padding-bottom: 20px; 
}
.scrollable-row {
    display: flex; 
}

ul {
  list-style-type: none;
}
#op{
  color: rgb(255, 238, 0);
  background-color: black;
  font-size: large;
  border: black solid;
  border-radius: 25px
}
#op1{
  opacity: 0.5;
}
.dropdown-menu {
  display: block; /* Ensure the dropdown menu is visible */
  position: absolute; /* Position the dropdown absolutely */
  top: 100%; /* Position it below the search input */
  left: 0; /* Align with the left edge of the search input */
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: green; /* Set background color */
  border: 1px solid rgba(0, 0, 0, 0.15); /* Add a border */
  border-radius: 0.25rem; /* Add border radius */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Add shadow */
  padding: 0.5rem; /* Add padding */
  max-height: 200px; /* Limit max height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.dropdown-item {
  cursor: pointer; /* Add pointer cursor */
}

.dropdown-item:hover {
  background-color: #0f7ce9; /* Change background color on hover */
  color: #0f7ce9;
}
.row-background {
  background-color: #84a0bb;
}

